html {
  user-select: none;
  color: var(--text-color-100);
  transition: color 0.3s ease, background-color 0.3s ease;
}

button {
  color: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

a {
  text-decoration: none;
}

// 스크롤바 테마에 맞게 설정
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--window-bg-500);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--window-bg-100);
}
