html {
  user-select: none;
  color: var(--text-color-100);
  transition: color 0.3s ease, background-color 0.3s ease;
}

button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

a {
  text-decoration: none;
}
