@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: normal;
  text-size-adjust: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
}
