$header-height: 35px;

// Light Theme Colors
$light-colors: (
  dock-bg: #3333339c,
  body-bg: #ccc,
  header-bg: #eee,
  text-color-100: #333,
);

// Dark Theme Colors
$dark-colors: (
  dock-bg: #eeeeee9c,
  body-bg: #333,
  header-bg: #222,
  text-color-100: #fff,
);

// Theme Mixin
@mixin themed() {
  @each $key, $value in $light-colors {
    --#{$key}: #{$value};
  }

  &.dark {
    @each $key, $value in $dark-colors {
      --#{$key}: #{$value};
    }
  }
}

html {
  @include themed();
}

:root {
  --header-height: #{$header-height};
}
