.genie-container {
  position: fixed;
  pointer-events: none;
  z-index: 999999;

  .genie-step {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    transform-origin: center;
  }
}
